#dice {
  width: 250px;
  height: 250px;
  background-color: #ddd;
}

.row {
  width: 100%;
  height: calc(100%/3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  height: 100%;
  width: calc(100%/3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 55%;
  height: 55%;
  background-color: black;
  border-radius: 50%;
  visibility: hidden;
}

#btn-box {
  width: 250px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button {
  padding: 10px;
  background-color: #9415c2;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
